@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans');

h1 {
    color: red;/* this is a css comment! */
    /*font-family: inherit; */
    font-family: 'Arvo', serif;
    
    
}

#wordmark {
    /* Logo Wordmark */
    font-family: 'Source Code Pro', monospace;
}

.loop { /*class selector!*/
    color:#ff8913;
}

#basic {
    color:#ff7845;
}