{% extends "header.html" %}

{% block body %}

<div class="container" style="margin-top: 3%">
<h1>405 -- Method Not Allowed</h1>

<p>Oops! You are not allowed to do that!</p>
    <p><code>{{error}}</code></p>

<a href="javascript:history.go(-1)"><button type="button" class="btn btn-outline-warning">Go Back!</button></a>

<img class="fixed-bottom" src="{{url_for('static', filename='images/dancecat.gif') }}" style="width:30%">
                                                                                             
</div>

{% endblock %}